
@{
  ViewData["Title"] = "Carrinho";
}

@model CasaCodigoVS.Models.ViewModels.CarrinhoViewModel
<h3>Meu carrinho</h3>

<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <div class="col-md-6 text-center">Item</div>
            <div class="col-md-2 text-center">Preço</div>
            <div class="col-md-2 text-center">Quantidade</div>
            <div class="col-md-2">
                <span class="pull-right">Sub-total</span>
            </div>
        </div>

    </div>
    <div class="panel-body">

        @foreach (var itemPedido in Model.Itens)
        {
        <div class="row" style="display:flex; align-items:center">
            <div class="col-md-3">
                <img src="~/images/Produtos/small_@(itemPedido.Id).jpg" />
            </div>
            <div class="col-md-3 text-center">@(itemPedido.Produto.Nome)</div>
            <div class="col-md-2 text-center">R$ @(itemPedido.PrecoUnitario)</div>
            <div class="col-md-2 text-center">@(itemPedido.Quantidade)</div>
            <div class="col-md-2">
                <span class="pull-right"> R$ @(itemPedido.Subtotal) </span>
            </div>
        </div>
        }



        <div class="panel-footer">
            <div class="row">
                <div class="col-md-10">
                    @*Total: @Model.Count() @Html.Raw(@Model.Count() == 1 ? "item" : "itens")*@
                    <span>
                        Total de itens: @Model.Itens.Count() @(Model.Itens.Count == 1 ? "item" : "itens")
                    </span>

                </div>
                <div class="col-md-2">
                    <span class="pull-right">Preço total: R$ @Model.Total</span>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">

        @*@Html.ActionLink("Finalizar pedido", "resumo", "pedido", null, new { @class = "btn btn-success pull-right" })*@
        @*<a href="/pedido/resumo" class="btn btn-success pull-right">Finalizar pedido</a>*@
        <a asp-controller="pedido" asp-action="resumo" class="btn btn-success pull-right">Adicionar</a>
    </div>
</div>

